.naviButton {
  margin: 0.5rem;
  width: 8rem;
  height: 3rem;
  padding: 0.3rem;
  background-color: #aaffaa;
  font-weight: 700;
  word-break: keep-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.naviButton:hover {
  color: #aaffaa;
  background-color: #004e0a;
  cursor: pointer;
}

.naviContainer {
  background-color: #aaffaa;
  margin: 0 0 0.5rem 0;
  border: solid #004e0a;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.naviContainer > img {
  width: 20rem;
  position: absolute;
  bottom: 0;
  left: -5rem;
}

.naviContainer ~ div {
  margin-left: 10rem; /* Same as the width of the sidenav */
}
