.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.examplesContainer > div {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.appContainer {
  display: grid;
  grid-template-columns: 10rem 1fr;
  height: 100%;
  grid-template-rows: 1fr;
}

.navContainer::-webkit-scrollbar {
  display: none;
}

.navContainer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 10rem;
  background-color: #aaffaa;
  border: solid #004e0a;
  overflow-y: scroll;
}

.navContainer + div {
  margin-left: 11rem;
  width: calc(100vw - 12rem);
}

.navContainer > img {
  height: 6.6rem;
  position: fixed;
  top: 0;
}

.navContainer > img + div {
  margin-top: 7rem;
}
